node_modules
/data
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.DS_Store
Thumbs.db

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
